<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
</head>
<body>
  <div id="room-container">
    <form action="/room" method="POST" id="room-form">
      <input name="room" type="text" required id="room-input">
      <button type="submit" id="create-room-btn">New Room</button>
    </form>
    <div>
      <h3>Rooms:</h3>
      <% Object.keys(rooms).forEach(room => { %>
        <div>
        <a href="/<%= room %>">Join:</a>
        <span><%= room %></span>
        </div>
      <% }) %>
    </div>
  </div>
</body>
<style>
  body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #4a5162;
  }

  #room-container {
    width: 80%;
    max-width: 640px;
    margin-top: 1em;
  }

  #room-container div {
    background-color: #FFF;
    color: rgba(0, 0, 255, 0.4);
    margin-bottom: 0.5em;
    padding: 5px;
    border-radius: 0.5em;
  }

  #room-container div:nth-child(2n) {
    background-color: #FFF;
    color: rgba(0, 0, 255, 0.4);
  }

  #room-form {
    /*position: fixed;*/
    margin-bottom: 30px;
    bottom: 0;
    max-width: 640px;
    width: 100%;
    display: flex;
  }

  #room-input {
    flex-grow: 1;
    border: 0px solid #FFF;
    border-radius: 0.5em;
    margin-right: 0.5em;
    padding: 0.4em;
  }

  #create-room-btn {
    border: 0px solid #FFF;
    border-radius: 0.5em;
  }
</style>
</html>