<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <script>
    const roomName = "<%= roomName %>"
  </script>
  <script defer src="/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
</head>
<body>
  <div id="message-container"></div>
  <form id="send-container">
    <input type="text" id="message-input">
    <button type="submit" id="send-button">Send</button>
  </form>
</body>
<style>
  body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #4a5162;
  }

  #message-container {
    width: 80%;
    max-width: 640px;
    margin-top: 1em;
  }

  #message-container div {
    background-color: #FFF;
    color: rgba(0, 0, 255, 0.4);
    margin-bottom: 0.5em;
    padding: 5px;
    border-radius: 0.5em;
  }

  #message-container div:nth-child(2n) {
    background-color: #FFF;
    color: rgba(0, 0, 255, 0.4);
  }

  #send-container {
    position: fixed;
    margin-bottom: 30px;
    bottom: 0;
    max-width: 640px;
    width: 80%;
    display: flex;
  }

  #message-input {
    flex-grow: 1;
    border: 0px solid #FFF;
    border-radius: 0.5em;
    margin-right: 0.5em;
    padding: 0.4em;
  }

  #send-button {
    border: 0px solid #FFF;
    border-radius: 0.5em;
  }
</style>
</html>